<%= simple_form_for(@project, html: { class: 'from-horizontal'}) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.input :name, autofocus: true %>
<%= f.input :description %>   
<%= f.input :due_on, order: [:month, :day, :year],:as => :date, :input_html => {:class => 'datepicker'} %>
 
     
  <div class="form-actions">
    <%= f.button :submit, class: 'btn' %>
  </div>
<% end %>
