 <div id="all_project">
    <section class="projects cards">

      <div class="row">
         
        <div class="span2">
         <nav class="project_nav">
          <%= link_to 'New Project', new_project_path %>    
         </nav>
          
        </div>
        
        <div class="span10">
         <% @projects.each do |project| %>  
          
          <%= link_to project do %>
            <article class="card">
                
              <h5 class="project-name"><%= project.name %></h5>
              <p class="project-description"><%= truncate(project.description, length: 75) %></p>

              <p class="due-on">Due On  
                 
                  <%= "#{project.updated_at.strftime("%B %d, %Y")}" %>  
                
              </p>
              <p class="created-at">
                Created <%= "#{time_ago_in_words(project.created_at).gsub('about','')}  ago" %>               
              </p>

              
              <p class="updated-at">Last Updated  
                 
                  <%= "#{time_ago_in_words(project.updated_at.to_s).gsub('about','')}  ago" %>
                
              </p>

              
                <div class="people">
                  <%= image_tag('avatar.40.gif', class: 'avatar') %>
                </div>  
                
              </article>
            <% end %>
           <% end %>    
        </div>
      </div>
    </section>
  </div> 